{#{% load compress %}#}
{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Management System</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
{#    {% compress css %}#}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'sidebar.scss' %}" />
{#    {% endcompress %}#}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>